# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.vscode/

audio/
data/
snomed_ct/*.txt
transcriptions/
qa_summary/
gpt/models/

.DS_Store
*.docx
*.json

# Keys
gc_key.json
coqa/get_mturk_data.py
